POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

SERVER_PORT=
BANK_SERVICE_PORT=

JWT_SECRET=
PGP_PRIVATE_KEY=
PGP_PRIVATE_KEY_PASSPHRASE=
HMAC_SECRET_KEY=

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
